{% extends 'base.html.twig' %}

{% block title %}Armes{% endblock %}

{% block monTitre %}Les armes{% endblock %}
{% block body %}
<!-- avec asset, c'est twig et symfony qui géreront les emplacements des images et leur gestion -->
{# <img src="{{ asset("images/personnages/Marc.png") }}">
<div> Nom: {{pseudo}} </div>
<div> Age: {{age}}</div>
<div> Force: {{caract.force}}</div>
<div> Agilité: {{caract.agi}}</div>
<div> Intelligence: {{caract.intel}}</div> #}

        <div class="row m-3">
            {% for arme in armes %}
            <div class="col-3">
                <img src="{{asset('images/armes/' ~ arme.nom|replace({"é":"e"}) ~ '.png')}}">
            </div>
            <div class="col-9">
                <a href="{{ path('afficherArme', {'nom' : arme.nom}) }}">{{arme.nom}}</a>
            </div>
            {% endfor %}
       </div>

{% endblock %}